<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>ruby-korea advent calendar 2015</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="app" class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>ruby-korea advent calendar 2015</h1>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>일</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if='!loading' v-for='week in weeks'>
                <td v-for='day in week'>
                  {{day.day}}<br>
                  <div v-if='day.article && !day.editing'>
                    <img :src='day.article.profileImageURL' class="pull-left" width='16' height='16'>
                    {{day.article.username}}<br>
                    <a v-if='day.article.url' :href="day.article.url">{{day.article.title}}</a>
                    <span v-if='!day.article.url'>{{day.article.title}}</span><br>
                    <button class="btn btn-warning" v-if='day.editabled' @click='day.editing = true'>
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-danger" v-if='day.editabled' @click="removeArticle(day.article.id)">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  </div>
                  <form id="form" v-if='day.editing' v-on:submit.prevent="editArticle">
                    <div class="form-group">
                      <input class="form-control" v-model="day.article.title">
                    </div>
                    <div class="form-group">
                      <input class="form-control" v-model="day.article.url">
                    </div>
                    <button class="btn btn-primary" v-if='day.editabled' @click='editArticle(day)'>
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                  </form>

                  <button class="btn btn-primary" v-if='newArticle.username && day.enabled' @click='newArticle.day = day.day'>참가</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <form id="form" class='form-horizontal' v-if="newArticle.day != 0" v-on:submit.prevent="addArticle">
            <div class="form-group">
              <h5>{{newArticle.day}}일의 글</h5>
            </div>
            <div class="form-group">
              <label>제목</label>
              <input class="form-control" v-model="newArticle.title" placeholder="미정">
            </div>
            <div class="form-group">
              <label>주소</label>
              <input class="form-control" v-model="newArticle.url" placeholder="url: http://example.com">
            </div>
            <div class="form-group">
              <button class='btn btn-primary' type="submit">Add Article</button>
            </div>
            <ul class="errors">
              <li v-show="!validation.title">제목을 입력하세요.</li>
            </ul>
          </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.8/vue.min.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
